<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.bicycle.dao.mapper.BicycleModelMapper">
    <resultMap id="BaseResultMap" type="com.software.bicycle.dao.model.BicycleModel">
        <id column="bicycle_id" jdbcType="BIGINT" property="bicycleId"/>
        <result column="bicycle_name" jdbcType="VARCHAR" property="bicycleName"/>
        <result column="bicycle_state" jdbcType="BOOLEAN" property="bicycleState"/>
        <result column="lease_state" jdbcType="BOOLEAN" property="leaseState"/>
        <result column="bicycle_mainTain" jdbcType="BOOLEAN" property="bicycleMainTain"/>
        <result column="bicycle_point" jdbcType="VARCHAR" property="bicyclePoint"/>
    </resultMap>
    <!--获取自行车数量-->
    <select id="getBicycleCount" resultType="java.lang.Integer">
         select
        count (*)
        from bicycle.bicycle;
    </select>

</mapper>
