<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.bicycle.dao.mapper.BicycleTrackModelMapper">
    <resultMap id="BaseResultMap" type="com.software.bicycle.dao.model.BicycleTrackModel">
        <id column="bt_id" jdbcType="BIGINT" property="btId"/>
        <result column="bt_bicycle_name" jdbcType="VARCHAR" property="btBicycleName"/>
        <result column="bt_or_jd" jdbcType="VARCHAR" property="btOrJd"/>
        <result column="bt_or_wd" jdbcType="VARCHAR" property="btOrWd"/>
        <result column="bt_pr_jd" jdbcType="VARCHAR" property="btPrJd"/>
        <result column="bt_pr_wd" jdbcType="VARCHAR" property="btPrWd"/>
    </resultMap>

    <sql id="columns">
        bt_id,bt_bicycle_name,bt_or_jd,bt_or_wd,bt_pr_jd,bt_pr_wd
    </sql>

    <select id="getAll" resultType="com.software.bicycle.dao.model.BicycleTrackModel" resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from bicycleManagement.bicycleTrack;
    </select>

    <select id="getAppointBicycleTrack" resultType="com.software.bicycle.dao.model.BicycleTrackModel"
            resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from bicycleManagement.bicycleTrack
        where bt_bicycle_name = #{btBicycleName, jdbcType=VARCHAR};
    </select>
</mapper>
